body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

.card-title{color:#243642 ;}
.card-text{color:#243642 ;}

.logo{
  height: fit-content;
  width: 10%;
  margin-left: 20px;
}

h1 {
  font-size: 4rem;
  color:#243642 ;
  margin-left: 20px;
}

.card{
  width: 45%; 
  display: inline-block;
  margin: 15px;
}

.tile-image{
  float: left;
  height: fit-content;
  width: 200px;
  margin: 10px;
}

footer {
  text-align: right;
  text-align: center;
  color: aliceblue;
  background-color: #243642;
  font-size: small;

}

@media (max-width: 690px) {
  .logo {
    width: 20%;
    max-width: 80px;
    height: auto;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
    margin: 10px 0;
  }

  .card {
    width: 100%;
    display: block;
    text-align: center;
  }

  .tile-image {
    width: 80%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 10px auto;
  }

  .card-title {
    font-size: 1.2rem;
    text-align: center;
  }

  .card-text {
    font-size: 14px;
    text-align: center;
  }

  footer {
    font-size: 10px;
  }
}
